* {
    background-color: black;
    color: white;
    font-family: "Space Mono";
}
footer {
    background-color: black;
    padding: 2em;
}
h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    text-decoration: underline;
}
h2:first-child {
    text-decoratoin: none;
}
.squares {
    margin: 10%;
    margin-bottom: 0px;
    margin-top: 0px;
}
.card {
    border: 2px solid white;
    text-align: center;
    margin-bottom: 20px;
    padding: 1em;
}
.card:last-child {
    margin-bottom: 0px;
}
.card p {
    line-height: 2;
}
red {
    color: red;
}
green {
    color: greenyellow;
}
buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
buttons p {
    color: black;
}
minter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height:150px;
    width: 150px;
    border: 5px solid greenyellow;
    margin: 10px;
    background-color: white;
}
